


.header { font-size: 20px; font-family: Arial; font-weight: bold; }


.Text1 { font-size: 17px; font-family: Arial;}

.Text2 { font-size: 18px; font-family:Cambria;}

.Text3 { font-size: 19px; font-family: Lucida Sans;}

.Text4 {font-size: 20px;  font-family: Verdana; font-weight: bold;}

